html,
body {
  margin: 0;
  width: 100% auto;
  height: 100% auto;
  font-family: sans-serif;
}

li {
  font: italic bold 15px Arial;
  text-decoration: 2px underline;
}

a {
  text-decoration: none;
  color: white;
}

.color {
  background-color: rgb(255, 255, 255) !important;
}

.dots {
  height: 6px;
  width: 6px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  body {
    width: 100%;
  }
}

.main .background {
  width: 100% auto;
  height: 90vh;
}
.main {
  height: 90vh;
  width: 100%;
  position: relative;
  background: url("img/background-main.png");
  background-attachment: inherit;
  background-size: 100% 100%;
}
.main .header {
  position: absolute;
  top: 10px;
  width: 60%;
  left: 20%;
  display: flex;
  justify-content: space-between;
}
.main .moon {
  height: 40px;
  width: 40px;
}
.main .header li {
  padding: 20px;
  display: inline;
  color: gainsboro;
}
.main .leftm {
  bottom: 0;
  position: absolute;
  left: 0;
  z-index: 2;
  width: 54%;
}
.main .rightm {
  bottom: 0;
  position: absolute;
  right: 0;
  z-index: 3;
  width: 55%;
}
.main .text {
  width: 40%;
  position: absolute;
  left: 30%;
  top: 20%;
  z-index: 1;
}
@media screen and (max-width: 1200px) {
  .main .moon {
    height: 40px;
    width: 21px;
  }

  .main .text {
    width: 60%;
    left: 20%;
    top: 138px;
  }

  .main .header ul {
    margin: 0;
    padding-top: 4px;
    padding-left: 52%;
    display: flex;
  }

  .main .header li {
    padding: 9px;
    font-size: 11px;
  }
}

.header2 {
  width: 100%;
  height: 70px;
}

.header2 .content1 {
  position: relative;
    top: 10px;
    width: 60%;
    left: 20%;
    display: flex;
    justify-content: space-between;
}

.header2 .h2icon {
  padding: 20px 10px;
  padding-top: 1%;
}

.header2 .nav2 {
  list-style: none;
  margin: 28px 0 28px 0;
}

.header2 .nav2 li {
  display: inline;
  padding: 10px;
  color: black;
  font-family: Arial;
}

.header2 img.h2icon {
  width: 138px;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .header2 .content1 {
    left: 9%;
  }

  .header2 .nav2 li {
    font-size: 11px;
    padding-top: 0px;
    padding-bottom: 15%;
  }

  .header2 .nav2 {
    list-style: none;
    margin: 28px 0 28px 0;
    display: flex;
  }
}

@media screen and (min-width: 400px) and (max-width: 1200px) {
  .header2 .nav2 {
    margin: 0;
    padding-top: 4px;
    display: flex;
  }

  .header2 .nav2 li {
    padding: 11px;
    font-size: 11px;
  }

  .header2 img.h2icon {
    width: 83px;
  }
}

.history {
  background: url("img/background-history.png");
  position: relative;
  height: 100vh;
  width: 100%;
  background-attachment: inherit;
  background-size: cover;
  display:flex;
}
.history .background2 {
  height: 100%;
  position: absolute;
  width: 100%;
}

.history .number1 {
  position: absolute;
  left: 20%;
  font: 150px sans-serif;
  top: 10%;
  color: #41516b;
  opacity: 45%;
}

.history .heading1 {
  font-size: 50px;
  position: absolute;
  left: 32%;
  top: 18%;
  color: #41516b;
}

.history .h1text {
  position: absolute;
  left: 22%;
  top: 15%;
  color: #2e2d2d;
  line-height: 36px;
}

.history .pictures {
  position: absolute;
  background-color: rgba(57, 69, 93, 0.7);
  display: flex;
  justify-content: center;
  height: 22%;
  width: 100%;
  bottom: 0px;
  z-index: 1;
}

.history .pictures .menu {
  position: absolute;
  bottom: 7%;
  left: 50%;
}

.history .pictures .photos {
  position: absolute;
  list-style: none;
  display: flex;
  top: 13%;
  width: 50%;
  margin: 0 auto;
  justify-content: space-between;
}

.history .pictures .photos img {
  padding: 10%;
  width: 150px;
  padding-top: 1%;
}
.history .pictures .photos li {
  display: inline;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .history .number1 {
    position: absolute;
    left: 3%;
    font: 100px sans-serif;
    top: 0%;
    color: rgb(65, 81, 107);
    opacity: 0.45;
  }

  .history .heading1 {
    font-size: 30px;
    position: absolute;
    left: 35%;
    top: 6%;
    color: #41516b;
  }

  .history .h1text {
    position: absolute;
    left: 4%;
    top: 9%;
    color: #2e2d2d;
    line-height: 20px;
  }

  .history .pictures .photos {
    left: 1%;
    width: 89%;
  }

  .history .pictures .photos img {
    padding: 22%;
    width: 70px;
    padding-top: 1%;
  }

  .history .pictures {
    height: 14%;
  }

  .history .pictures .menu {
    left: 48%;
  }
}
@media screen and (min-width: 400px) and (max-width: 1200px) {
  .history .number1 {
    left: 10%;
    font: 120px sans-serif;
    top: 4%
  }
  .history .heading1 {
    font-size: 30px;
    left: 25%;
  }

  .history .pictures {
    position: absolute;
    background-color: rgba(57, 69, 93, 0.7);
    height: 12%;
    width: 100%;
    bottom: 0px;
    z-index: 1;
  }

  .history .pictures .photos {
    position: relative;
    list-style: none;
    display: flex;
    text-align: center;
    top: 0%;
    width: 50%;
    margin: 0 auto;
    justify-content: space-between;
  }

  .history .pictures .photos img {
    height: 64px;
    width: 90%;
    padding-left: 13%;
  }
  .history .h1text {
    position: absolute;
    left: 10%;
    top: 13%;
    color: #2e2d2d;
    line-height: 20px;
  }
}

@media screen and (min-width: 3000px) and (max-width: 1200px) {
  .history .pictures .photos img {
    padding: 10%;
    width: 16vh;
    padding-top: 1%;
    padding-right: 10px;
  }

  .history .pictures .photos {
    left: 10%;
  }
}

.header3 {
  position: relative;
  height: 28vh;
}
.header3 .number2 {
  position: absolute;
  left: 10%;
  font-size: 150px;
  bottom: 52%;
  color: #41516b;
  opacity: 45%;
  height:45%;
  top: 25%;
  width: 13%
}

.his-cont {
  font-size: 15px;
  padding-top: 1%;
}

.header3 .heading2 {
  font-size: 50px;
  position: absolute;
  left: 34%;
  top: 50%;
  color: #41516b;
}

.header3 .h2text {
  position: absolute;
  left: 24%;
  top: 38%;
  color: #2e2d2d;
  line-height: 36px;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  .header3 .number2 {
    left: 3%;
    font-size: 100px;
    bottom: 54%;
  }

  .header3 .heading2 {
    font-size: 30px;
    left: 49%;
    top: 5%;
  }

  .header3 .h2text {
    left: 5%;
    top: 45%;
    line-height: 15px;
    font-size: 10px;
  }
}

@media screen and (min-width: 401px) and (max-width: 1200px) {
  .header3 .number2 {
    left: 5%;
    top: 25%;
    font: 120px sans-serif;
    height: 34%;
  }

  .header3 .heading2 {
    font-size: 50px;
    position: absolute;
    left: 21%;
    top: 9%;
    color: #41516b;
  }

  .header3 .h2text {
    position: absolute;
    left: 23%;
    top: 30%;
    color: #2e2d2d;
    line-height: 22px;
  }
}

.climb {
  height: 80vh;
  width: 100%;
  position: relative;
  background: url("img/background-climb.png");
  background-size: cover;
  background-attachment: inherit;
}

.climb .navbar3 {
  position: absolute;
  bottom: 100%;
  background-color: #414f6a;
  width: 60%;
  padding: 0px 20%;
  display: flex;
}

.climb .navbar3 .link {
  padding: 10px 15px;
  color: #b0b4bf;
  text-decoration: underline #b0b4bf;
}

.climb .navbar3 .linkselect {
  padding: 10px 15px;
  color: #424e67;
  background-color: #b0b4bf;
  text-decoration: underline #424e67;
}

.climb .box {
  height: 250px;
  width: 300px;
  position: absolute;
  top: 12%;
  left: 20%;
  background-color: rgb(218, 218, 218, 0.5);
  color: rgb(5, 5, 5, 0.5);
  text-align: center;
  padding: 10px;
}
.climb .box .boxheading {
  font-size: 40px;
  padding: 10px;
  text-align: left;
  color: #424e67;
}
.climb td {
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .climb .box {
    height: 250px;
    top: 12%;
    left: 3%;
    padding: 0px;
  }
}

.footer {
  width: 100%;
  height: 57px;
  background-color: #414f6a;
}
.footer .content {
  position: relative;
  top: 15%;
  width: 60%;
  left: 20%;
  display: flex;
  justify-content: space-between;
}

.footer .content .nav2 li {
  text-decoration: none;
  list-style: none;
  font-size: 6px;
  color: rgb(97, 113, 147, 100%);
}

.footer .content img.h2icon {
  width: 120px;
}
a.his{
  color:black
}
a.tea{
  color: black;
}

@media screen and (max-width: 500px) {
  .header3 .number2{
    top: 2%;
    width: 30%;
  }
  .header3 .h2text{
    top: 40%;
    font-size: 15px;
  }
  
}